{% extends 'base.html' %}
{% load static %}

{% block content %} 
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Create student</h1>
    </div>

    <form class="row g-3" method="post" action="{% url 'insert_student' %}">
        {% csrf_token %} <!--Tag for security-->

        <div class="col-md-4">
          <label for="validationDefault01" class="form-label">Name</label>
          <input type="text" class="form-control" id="validationDefault01" name="name" required>
        </div>

        <div class="col-md-4">
            <label for="validationDefault01" class="form-label">Email</label>
            <input type="email" class="form-control" id="validationDefault01" name="email" required>
        </div>


        <div class="col-md-4">
            <label for="validationDefault01" class="form-label">Phone</label>
            <input type="tel" class="form-control" id="validationDefault01" name="phone" required>
        </div>


        <div class="col-md-4">
            <label for="department_id" class="form-label">Program</label>
            <select class="form-control" id="program_id" name="program_id" required>
                <option value="" disabled selected>Select a program</option>
                {% for program in programs %}
                    <option value="{{ program.id }}">{{ program.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col-12">
          <button class="btn btn-primary" type="submit">Insert</button>
        </div>

      </form>

      {% if message %}
        <div id="messages">
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                </div>
        </div>
      {% endif %}

{% endblock %}
